<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-top: 20px;">
    <p>Informe seu e-mail para receber as instruções de recuperação.</p>
  </div>

  <ion-item lines="full" class="ion-margin-top">
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input type="email" placeholder="seu@email.com" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="enviar()">
    Enviar Link
  </ion-button>
</ion-content>