// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-success: #0099ff;
  --ion-color-success-rgb: 0, 153, 255;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0087e0;
  --ion-color-success-tint: #1aa3ff;
}
